* {
    margin: 0;
    padding: 0;
}

body { background: white }
h1 { color: aqua; }

.images {
    width: 100px;
    height: 100px;
}

.header {
  width: 100%;
  height: 25px;
  padding: 40px;
  background: #D79E52;
}

.object {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 250px;
  bottom: 0px;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
}

.arrow {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}
    
@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
    
@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
    
.box {
  margin-top: 5px;
  padding: 40px;
  border: 5px solid black;
}

.red {

  background: darkred;
  color: #FFFFFF;
}

.blue {
  background: darkblue;
  color: #FFFFFF;
}

.yellow {
  background: yellow;
  color: #000000;
}

.bg {
  height: 25px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 138, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

    .stage {
        border-bottom: 3px solid #444;
        display: flex;
        height: 330px;
        width: 100%;
    }
    .boxs {
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        background-color: #F44336;
        height: 200px;
        margin: 0 auto 0 auto;
        transform-origin: bottom;
        width: 200px;
    }
    .bounce-1 {
        animation-name: bounce-1;
        animation-timing-function: linear;
    }
    @keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-100px); }
        100% { transform: translateY(0); }
    }

@media only screen and (max-width: 320px) {
  body {
    background-color: lightblue;
  }
  
 .header {
   width: 100%;
   height: 25px;
   background-color: darkred;
 }
 
.header p{
  color: #FFFFFF;
  font-weight: 400;
  text-align: center;
}

#content {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.row {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center; 
}

}